<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initialscale=1.0">
  <th:block th:replace="~{layout::link-css}"></th:block>
  <th:block th:replace="~{layout::custom-css}"></th:block>
  <title>SỬA THÔNG TIN OTO</title>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
  <h1>SỬA THÔNG TIN OTO</h1>
  <form th:action="@{/Xe/edit}" th:object="${xe}" method="post">
    <!--//<form th:action="@{/xe/add}" th:object="${xe}" method="post">-->
    <input type="hidden" th:field="*{id}">
    <div class="col-6 mb-3">
      <label class="form-label" for="title">TÊN:</label>
      <input class="form-control" type="text" th:field="*{title}"
             id="title" required autofocus>
      <span class="text-danger" th:if="${#fields.hasErrors('title')}"
            th:errors="*{title}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="author">NƠI SẢN XUẤT:</label>
      <input class="form-control" type="text" th:field="*{author}"
             id="author">
      <span class="text-danger" th:if="${#fields.hasErrors('author')}"
            th:errors="*{author}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="price">GIÁ TIỀN:</label>
      <input class="form-control" type="text" th:field="*{price}"
             id="price">
      <span class="text-danger" th:if="${#fields.hasErrors('price')}"
            th:errors="*{price}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="category">LOẠI XE:</label><span
            class="text-danger">*</span>
      <select class="form-control" id="category" name="category.id">
        <option value="">-- LOẠI XE --</option>
        <option th:each="category : ${categories}"
                th:value="${category.getId()}"
                th:text="${category.getName()}"
                th:selected="${category.getId() ==Xe.category.getId()}"></option>
      </select>
    </div>
    <input type="submit" value="Save">
  </form>
  <br>
  <a th:href="@{/xes}">Back to List</a>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>